*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}
.hero{
    background-color: #051540;
    font-family: Sans-serif;
    align-items: center;
    justify-content: center;
    padding: 0px 90px;
}
.logo{
    height: 50px;
    width: 30px;
    padding: 30px;
}
.flex{
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: center;
    justify-content: space-between;
}
.content{
    flex-direction: grid;
    justify-content: space-around;
}
.content h1{
    font-weight: 3rem;
    color: rgb(242, 240, 240);
}
.content p{
    padding-top: 30px;
    color: #f5f3f3;
    /* font-weight: 0.5rem; */
    font-size: 90%;
    gap: 10px;
}
.btn{
    margin-top: 20px;
    padding: 2.5% 1%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    justify-content: space-between;
    justify-content: space-around;
    gap: 30px;
    display: inline-block;
    font-size: 0.875rem;
}
.btn-primary{
    background: #164BAF;
    color: rgb(238, 232, 232);

}
.btn-secondary{
    background: #051540;
    color: rgb(231, 222, 222);
    margin: 7px;
    border: 1px solid #051540;
    border-color: antiquewhite;
}
.hero-image img{
    width: 400px;
    height: auto;
}
@media  screen  and (max-width: 829px) and (min-width: 769px){
    .hero{
        flex-direction: row;
        text-align: center;
    }
    
    .btn{
        margin: 14px 10px;
        padding: 10px 8px;
        font-size: 9px;
    }
    .content h1{
        font-size: 150%;
        font-weight: 1rem;
    }
    .content p{
        font-size: 110%;
        /* font-weight: 0.5rem; */
    }
    .hero-image img{
        width: 250px;
        height: auto;
    }
}
@media screen and (max-width: 768px) and (min-width: 350px) {
    .hero{
        padding: 20px;
        justify-content: center;
    }
    .flex{
        flex-direction: column-reverse;
        gap: 20px;
    }
    .content h1{
        font-size: 160%;
        font-weight: 1rem;
        margin-top: 40px;
        text-align: center;
    }
    .content p{
        padding: 40px 30px;
        font-size: 110%;
        text-align: center;
    }
    .btn{
        margin: 20px 20px 10px 10px;
        padding: 15px 2px;
        font-size: 11px;
    }
    .btn-primary{
        align-items: center;
        width: 45%;
    }
    .btn-secondary{
        margin: 2px;
        width: 40%;
    }
    .hero-image img{
        width: 250px;
        height: auto;
    }
}