*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.video-section{
  margin: 40px 0 40px 0;
}

.container{
  display: flex;
 justify-content: space-around;
 align-items: center;
 padding-top: 20px;

}
span{
    color: #164BAF;
}
.planetary{
    color: #164BAF;
    margin-bottom: 13px;
    text-align: center;
}

.p-1{
  
  text-align: center;
}

    
    
video{
    border-radius: 20px;
    margin: auto 0;
    height: auto;

}


.mobile{
    display: none;
}
@media(max-width:600px) {
    video{
       max-width: 300px;
    }
    .container{
        flex-direction: column-reverse;
       gap: 20px;
    }
    .Planetary{
        font-size: 37px;
    }
   
   .p-1{
    font-size: 20px;
    
   }
   .mobile{
    display:block;
   }
  .hide-on-mobile{
    display: none;
  }
}